* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../assets/background.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
