.header {
  height: 60px;
}

.nav {
  display: flex;
  background-color: white;
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.burger {
  margin-right: 0.5rem;  
}

.navMenuMobile {
  display: none;
}

.route {
  text-decoration: none;
}

.logotree {
  width: 60px;
  margin: 10px;
}
.logotree:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
}

.logoburger {
  height: 2.5em;
  width: 2.5em;
  color: #24a45c;
  margin: 10px 15px;
}

.navMenu {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: white;
  margin-top: 60px;
  width: 100vw;
}

.navMenu ul {
  display: block;
  position: absolute;
  list-style: none;
  padding: 30px;
  padding-right: 9px;
  width: 100vw;
  margin: 160px 20px 5px 0;
  background-color: white;
  z-index: 3000;
  text-align: center;
  animation: fade-in 0.5s;
}

.navMenu li {
  color: #1c2d54;
  font-weight: 900;
  font-size: 1.5em;
  text-align: center;
}

li:hover {
  color: #d8d8eb;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 700px) {
  .logoburger {
    display: none;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
  }
  .navMenu ul {
    display: flex;
    flex-direction: row;
  }
  .navMenu li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    color: black;
  }

  .route {
    text-decoration: none;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bolder;
  }
}
