:root {
    --grey: rgb(228,228,228);
}

.lieu {
    width: 80%;
    height: 100px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.lieuDescription {
    width: 230px;
    height: 115px;
    margin-top: -20px;
    margin-right: -20px;
    padding: 10px;
    background-color: var(--grey);
    border-radius: 15px;
}

.lieuImage {
    width: auto;
}

.icon {
    font-size: 3em;
}