.leaflet-container {
  width: 100%;
  min-height: 50vh;
  margin: 15px auto;
}

.leaflet-popup-content p {
  margin: 5px 0;
  color: white;
}

.leaflet-popup-content h1 {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.leaflet-popup-content-wrapper {
  background: #4a546c;
}

.data-popup {
  color: green;
}

@media screen and (min-width: 700px) {
  .leaflet-container {
    margin: 1% 0;
    overflow: hidden;
    margin-bottom: 3%;
  }
}
