* {
  margin: 0;
  padding: 0;
}

.result {
    background-color: white;
    background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}