.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5%;
  margin: 0px 20px;
}

.button {
  color: white;
  font-size: 3rem;
  padding: 10px;
  cursor: pointer;
}
/* VERRE */

.verreContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.verreContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #24a45c;
  text-align: center;
  font-weight: bold;
}

.verreBackground {
  background-color: #24a45c;
  border: none;
  border-radius: 15px;
  margin-bottom: 10px;
}

/* DECHETTERIE */

.decheterieContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.decheterieBackground {
  background-color: #b6e5cc;
  border: none;
  border-radius: 15px;
  margin-bottom: 10px;
}

/* VETEMENT */

.vetementContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.vetementBackground {
  background-color: #1c2d54;
  border: none;
  border-radius: 15px;
  margin-bottom: 10px;
}

/* COMPOST */

.compostContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.compostBackground {
  background-color: #64a086;
  border: none;
  border-radius: 15px;
  margin-bottom: 10px;
}

.pointContainer {
  width: 60%;
  margin: 20px auto;
  background: #4a546c;
  color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  cursor: pointer;
}

.pointContainer:hover {
  transition: all 1s;
  color: black;
  background-color: green;
}

@media screen and (min-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10%;
    margin: 0px 30%;
    cursor: pointer;
  }
  button {
    cursor: pointer;
  }
  .container button:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
    filter: drop-shadow(0 0 0.75rem #24a45c);
  }

  .pointContainer {
    width: 40%;
    margin: 5% auto;
  }

  .button {
    font-size: 6rem;
  }
}

